*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    color: #fff;
}


/* INIZIO HEADER */

.back-header, header{
    background-color: #2c3e50;
}

.pad-20{
    padding: 20px 0;
}

.border-nav{
    border: 1px solid #fff;
}

.filter-nav{
    filter: invert(1);
}

h6{
    font-weight: 700;
    padding-top: 5px;
    color: #fff;
}
.white{
    color: #fff;
}


ul{
    list-style-type: none;
}


/* FINE HEADER */

/* INIZIO SEZIONE START BOOSTRAP */

.back-second-color, .acqua{
   background-color: #1abc9c; 
}

h1{
    font-weight: 600;
    font-size: 35px;
}

.dimension-img{
    width: 200px;
}

.star{
    font-size: 30px;
    padding-bottom: 5px;
}

.pad-10{
    padding: 10px 0 20px 0;
    font-size: 20px;
}


/* INIZIO SEZIONE START BOOSTRAP */


/* INIZIO PORTFOLIO */  

.portfolio-black {    
    color: #000; 
    padding: 30px 0; 
}     

.img-portfolio{
    width: 100%;
    border-radius: 10px;
}

.margin-bottom-portfolio{
    margin-bottom: 50px;
}
   
/* FINE PORTFOLIO */

/* INIZIO CONTACT ME */
.content .form-control {
    border: none;
    border-bottom: 1px solid rgb(146, 146, 146);
    border-radius: 0px;
    margin-top: 10px;
}
/* FINE CONTACT ME */


/* INIZIO INFO */
.back-info{
    background-color: #3a546d;
}

#link-info{
    color: #1abc9c;
}

.caracteristic-span-info, #link-info{
    font-size: 20px;
}

.mod-ico-info{
    width: 50px;
    height: 50px;
    border: 1px solid;
    border-radius: 50%;
    padding-top: 15px;
}

.left-info{
    margin-left: 10px;
}

.padding-info{
    padding: 50px 0;
}
/* FINE INFO */

/* INIZIO SEZIONE ABOUT */
.width-row{
    width: 70%;
    margin: 0 auto;
}

.vertical-mid{
    vertical-align: middle;
}

.content .list-inline .list-inline-item span {
    display: inline-block;
    width: 70px;
    height: 5px;
    border-radius: 5px;
    background-color: #fff;
}


.content .list-inline .list-inline-item i {
    font-size: 30px;
    padding-top: 15px;
}


.content .list-inline.black .list-inline-item span{
background-color: #000;
}


.width-p{
    margin: 20px auto;
    font-size: 15px;
}

.pad-top-40{
    padding-top: 40px;
}

.button-sec-about{
    background-color: #1abc9c;
    border: 1px solid white;
    padding: 5px 10px;
    color: #fff;
    border-radius: 6px;
    margin: 20px 0 40px 0;
}
/* FINE SEZIONE ABOUT */


/* INIZIO FOOTER */
.copyright{
    padding: 30px 0;
}
/* FINE FOOTER */

/* MEDIA QUERY TABLET 768 */
@media screen and (min-width: 720px) {
    .col-2{
        display: none;
    }

    .col-4{
        display: block;
    }

    .container-page{
        max-width: 80%;
        margin: 0 auto;
    }

    .content .list-inline .list-inline-item span{
        width: 130px;
    }
}
/* FINE MEDIA QUERY TABLET 768 */

/* MEDIA QUERY DESKTOP 960 */
@media screen and (min-width: 960px) {
    
    h1{
        font-size: 50px;
    }

    .width-row{
        width: 100%;
    }

    .content .list-inline .list-inline-item span{
        width: 150px;
    }

}
/* MEDIA QUERY DESKTOP 960 */

